[user]
	name = Anderson A. Giacomolli
	email = agiacomolli@gmail.com
	signingkey = 06C2DFB1842615BF4A9DEF031634963456E9E4E7
[gpg]
	program = gpg
[commit]
	gpgsign = true
[core]
	editor = vim
	excludesfile = ~/.gitignore
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[pull]
	rebase = false
