[user]
	name = Anderson A. Giacomolli
	email = agiacomolli@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDMTwxPFiBzxP472jFoUHq/naxgP17Q9QPhYO7Sg9DQR agiacomolli@gmail.com
[gpg]
	format = ssh
[commit]
	gpgsign = true
[core]
	editor = vim
	excludesfile = ~/.gitignore
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[pull]
	rebase = false
#[gpg "ssh"]
	#allowedSignersFile = /Users/agiacomolli/.ssh/allowed_signers
